<script lang="ts">
	import {
		Dialog,
		DialogOverlay,
		RadioGroup,
		RadioGroupOption,
		RadioGroupLabel,
		Transition,
		TransitionChild
	} from '@rgossiaux/svelte-headlessui';
	import { Icon, Star as StarIcon, X as XIcon } from 'svelte-hero-icons';
	import { classes } from '$lib/utils';

	const product = {
		name: 'Basic Tee 6-Pack ',
		price: '$192',
		rating: 3.9,
		reviewCount: 117,
		href: '#',
		imageSrc: 'https://tailwindui.com/img/ecommerce-images/product-quick-preview-02-detail.jpg',
		imageAlt: 'Two each of gray, white, and black shirts arranged on table.',
		colors: [
			{ name: 'White', class: 'bg-white', selectedClass: 'ring-gray-400' },
			{ name: 'Gray', class: 'bg-gray-200', selectedClass: 'ring-gray-400' },
			{ name: 'Black', class: 'bg-gray-900', selectedClass: 'ring-gray-900' }
		],
		sizes: [
			{ name: 'XXS', inStock: true },
			{ name: 'XS', inStock: true },
			{ name: 'S', inStock: true },
			{ name: 'M', inStock: true },
			{ name: 'L', inStock: true },
			{ name: 'XL', inStock: true },
			{ name: 'XXL', inStock: true },
			{ name: 'XXXL', inStock: false }
		]
	};

	const sizeOptionDisabled = (size) => {
		return size.name === 'XXXL' ? true : false;
	};

	let selectedColor = product.colors[0];
	const setSelectedColor = (event) => {
		selectedColor = event.detail;
	};
	let selectedSize = product.sizes[0];
	const setSelectedSize = (event) => {
		selectedSize = event.detail;
	};

	export let open = false;
	const closeDialog = () => (open = !open);
</script>

<Transition show={open}>
	<Dialog as="div" class="fixed z-10 inset-0 overflow-y-auto" {open}>
		<div class="flex min-h-screen text-center md:block md:px-2 lg:px-4" style="font-size: 0;">
			<TransitionChild
				enter="ease-out duration-300"
				enterFrom="opacity-0"
				enterTo="opacity-100"
				leave="ease-in duration-200"
				leaveFrom="opacity-100"
				leaveTo="opacity-0"
			>
				<DialogOverlay
					class="hidden fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity md:block"
				/>
			</TransitionChild>
			<TransitionChild
				enter="ease-out duration-300"
				enterFrom="opacity-0 translate-y-4 md:translate-y-0 md:scale-95"
				enterTo="opacity-100 translate-y-0 md:scale-100"
				leave="ease-in duration-200"
				leaveFrom="opacity-100 translate-y-0 md:scale-100"
				leaveTo="opacity-0 translate-y-4 md:translate-y-0 md:scale-95"
			>
				<!-- This element is to trick the browser into centering the modal contents. -->
				<span class="hidden md:inline-block md:align-middle md:h-screen" aria-hidden="true"
					>&#8203;</span
				>

				<div
					class="flex text-base text-left transform transition w-full md:inline-block md:max-w-2xl md:px-4 md:my-8 md:align-middle lg:max-w-4xl"
				>
					<div
						class="w-full relative flex items-center bg-white px-4 pt-14 pb-8 overflow-hidden shadow-2xl sm:px-6 sm:pt-8 md:p-6 lg:p-8"
					>
						<button
							on:click={closeDialog}
							type="button"
							class="absolute top-4 right-4 text-gray-400 hover:text-gray-500 sm:top-8 sm:right-6 md:top-6 md:right-6 lg:top-8 lg:right-8"
						>
							<span class="sr-only">Close</span>
							<Icon src={XIcon} class="h-6 w-6" />
						</button>

						<div
							class="w-full grid grid-cols-1 gap-y-8 gap-x-6 items-start sm:grid-cols-12 lg:gap-x-8"
						>
							<div
								class="aspect-w-2 aspect-h-3 rounded-lg bg-gray-100 overflow-hidden sm:col-span-4 lg:col-span-5"
							>
								<img
									src="https://tailwindui.com/img/ecommerce-images/product-quick-preview-02-detail.jpg"
									alt="Two each of gray, white, and black shirts arranged on table."
									class="object-center object-cover"
								/>
							</div>
							<div class="sm:col-span-8 lg:col-span-7">
								<h2 class="text-2xl font-extrabold text-gray-900 sm:pr-12">Basic Tee 6-Pack</h2>

								<section aria-labelledby="information-heading" class="mt-2">
									<h3 id="information-heading" class="sr-only">Product information</h3>

									<p class="text-2xl text-gray-900">$192</p>

									<!-- Reviews -->
									<div class="mt-6">
										<h4 class="sr-only">Reviews</h4>
										<div class="flex items-center">
											<div class="flex items-center">
												<!--
												Active: "text-gray-900", Default: "text-gray-200"
												-->
												<Icon src={StarIcon} solid class="text-gray-900 h-5 w-5 flex-shrink-0" />
												<Icon src={StarIcon} solid class="text-gray-900 h-5 w-5 flex-shrink-0" />
												<Icon src={StarIcon} solid class="text-gray-900 h-5 w-5 flex-shrink-0" />
												<Icon src={StarIcon} solid class="text-gray-900 h-5 w-5 flex-shrink-0" />
												<Icon src={StarIcon} solid class="text-gray-200 h-5 w-5 flex-shrink-0" />
											</div>
											<p class="sr-only">3.9 out of 5 stars</p>
											<a
												href="#"
												class="ml-3 text-sm font-medium text-indigo-600 hover:text-indigo-500"
												>117 reviews</a
											>
										</div>
									</div>
								</section>

								<section aria-labelledby="options-heading" class="mt-10">
									<h3 id="options-heading" class="sr-only">Product options</h3>

									<form>
										<!-- Colors -->
										<div>
											<h4 class="text-sm text-gray-900 font-medium">Color</h4>

											<RadioGroup value={selectedColor} on:change={setSelectedColor} class="mt-4">
												<RadioGroupLabel class="sr-only">Choose a color</RadioGroupLabel>
												<div class="flex items-center space-x-3">
													{#each product.colors as color (color.name)}
														<RadioGroupOption
															let:active
															let:checked
															value={color}
															class={({ active, checked }) => {
																return classes(
																	active && checked ? 'ring ring-offset-1' : '',
																	!active && checked ? 'ring-2' : '',
																	color.selectedClass,
																	'-m-0.5 relative p-0.5 rounded-full flex items-center justify-center cursor-pointer focus:outline-none'
																);
															}}
														>
															<RadioGroupLabel as="p" class="sr-only">
																{color.name}
															</RadioGroupLabel>
															<span
																aria-hidden="true"
																class="{color.class} h-8 w-8 border border-black border-opacity-10 rounded-full"
															/>
														</RadioGroupOption>
													{/each}
												</div>
											</RadioGroup>
										</div>

										<!-- Sizes -->
										<div class="mt-10">
											<div class="flex items-center justify-between">
												<h4 class="text-sm text-gray-900 font-medium">Size</h4>
												<a
													href="#"
													class="text-sm font-medium text-indigo-600 hover:text-indigo-500"
													>Size guide</a
												>
											</div>

											<RadioGroup value={selectedSize} on:change={setSelectedSize} class="mt-4">
												<RadioGroupLabel class="sr-only">Choose a size</RadioGroupLabel>
												<div class="grid grid-cols-4 gap-4">
													{#each product.sizes as size (size.name)}
														<RadioGroupOption
															disabled={!size.inStock}
															let:active
															let:checked
															value={size}
															class={({ active }) => {
																return classes(
																	size.inStock
																		? 'bg-white shadow-sm text-gray-900 cursor-pointer'
																		: 'bg-gray-50 text-gray-200 cursor-not-allowed',
																	active ? 'ring-2 ring-indigo-500' : '',
																	'group relative border rounded-md py-3 px-4 flex items-center justify-center text-sm font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1'
																);
															}}
														>
															<RadioGroupLabel as="p">{size.name}</RadioGroupLabel>
															{#if size.inStock}
																<div
																	class={classes(
																		active ? 'border' : 'border-2',
																		checked ? 'border-indigo-500' : 'border-transparent',
																		'absolute -inset-px rounded-md pointer-events-none'
																	)}
																	aria-hidden="true"
																/>
															{:else}
																<div
																	aria-hidden="true"
																	class="absolute -inset-px rounded-md border-2 border-gray-200 pointer-events-none"
																>
																	<svg
																		class="absolute inset-0 w-full h-full text-gray-200 stroke-2"
																		viewBox="0 0 100 100"
																		preserveAspectRatio="none"
																		stroke="currentColor"
																	>
																		<line
																			x1={0}
																			y1={100}
																			x2={100}
																			y2={0}
																			vector-effect="non-scaling-stroke"
																		/>
																	</svg>
																</div>
															{/if}
														</RadioGroupOption>
													{/each}
												</div>
											</RadioGroup>
										</div>

										<button
											type="submit"
											class="mt-6 w-full bg-indigo-600 border border-transparent rounded-md py-3 px-8 flex items-center justify-center text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
											>Add to bag</button
										>
									</form>
								</section>
							</div>
						</div>
					</div>
				</div>
			</TransitionChild>
		</div>
	</Dialog>
</Transition>
