<script lang="ts">
	import BreadcrumbLink from './BreadcrumbLink.svelte';
</script>

<div class="flex flex-col -mb-0.5">
	<nav class="flex items-center text-gray-500 text-sm font-medium sm:space-x-2 whitespace-nowrap">
		<slot name="first">
			<BreadcrumbLink href="#">First</BreadcrumbLink>
		</slot>
		<svg width="24" height="24" fill="none" class="hidden sm:block flex-none text-gray-300">
			<path
				d="M10.75 8.75l3.5 3.25-3.5 3.25"
				stroke="currentColor"
				stroke-width="1.5"
				stroke-linecap="round"
				stroke-linejoin="round"
			/>
		</svg>
		<slot name="second">
			<BreadcrumbLink href="#">Second</BreadcrumbLink>
		</slot>
		<svg width="24" height="24" fill="none" class="hidden sm:block flex-none text-gray-300">
			<path
				d="M10.75 8.75l3.5 3.25-3.5 3.25"
				stroke="currentColor"
				stroke-width="1.5"
				stroke-linecap="round"
				stroke-linejoin="round"
			/>
		</svg>
		<slot name="third">
			<BreadcrumbLink href="#">Third</BreadcrumbLink>
		</slot>
	</nav>
</div>
