<script lang="ts">
	export let handle = `2607d970262ada86428f063c72b1e7bd`;
</script>

<div class="flex items-center mb-3 whitespace-nowrap">
	<h2 id="heading-{handle}" class="font-medium text-gray-900 truncate">
		<a href="#component-{handle}" class="mr-1">
			<slot />
		</a>
	</h2>
</div>
