<script lang="ts">
	export let handle = `607d970262ada86428f063c72b1e7bd`;
</script>

<div class="relative bg-gray-500 rounded-lg ring-1 ring-gray-900 ring-opacity-5 overflow-hidden">
	<div class="block">
		<div class="min-w-full sm:min-w-[392px] relative sm:pr-4" style="max-width: 100%; width: 100%">
			<div id="frame-{handle}" class="bg-white" style="height: auto;">
				<iframe
					class="w-full rounded-lg overflow-hidden sm:rounded-r-none"
					title="Input with inline leading add-on and trailing dropdown"
					aria-label="Input with inline leading add-on and trailing dropdown"
					srcdoc="<p>This is a work-in-progress inline example. It is not draggable nor does it do anything right now other than start a pattern for inlining component examples using iframe elements.</p>"
				/>
				<div class="hidden absolute opacity-0 inset-0 mr-4 pointer-events-none sm:block" />
				<div
					class="sr-only sm:not-sr-only sm:border-l sm:bg-gray-100 sm:absolute sm:right-0 sm:inset-y-0 sm:flex sm:items-center sm:w-4 cursor-[ew-resize]"
					style="touch-action: none"
				>
					<div class="absolute inset-y-0 -inset-x-2" />
					<svg
						aria-hidden="true"
						class="h-4 w-4 text-gray-600 pointer-events-none"
						fill="currentColor"
						viewBox="0 0 24 24"
					>
						<path d="M8 5h2v14H8zM14 5h2v14h-2z" />
					</svg>
				</div>
			</div>
		</div>
	</div>
</div>
