<script lang="ts">
	import { fly } from 'svelte/transition';
	import {
		Disclosure,
		DisclosureButton,
		DisclosurePanel,
		Menu,
		MenuButton,
		MenuItem,
		MenuItems,
		Transition
	} from '@rgossiaux/svelte-headlessui';
	import { Icon, Menu as MenuIcon, X as XIcon, Bell as BellIcon } from 'svelte-hero-icons';

	const navigation = [
		{ name: 'Dashboard', href: '#', current: true },
		{ name: 'Team', href: '#', current: false },
		{ name: 'Projects', href: '#', current: false },
		{ name: 'Calendar', href: '#', current: false }
	];
</script>

<Disclosure class="bg-gray-800" as="nav" let:open>
	<div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
		<div class="relative flex items-center justify-between h-16">
			<div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
				<DisclosureButton
					class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
					aria-controls="mobile-menu"
					aria-expanded="false"
				>
					<span class="sr-only">Open main menu</span>
					{#if !open}
						<Icon src={MenuIcon} class="block h-6 w-6" />
					{:else}
						<Icon src={XIcon} class="block h-6 w-6" />
					{/if}
				</DisclosureButton>
			</div>
			<div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
				<div class="flex-shrink-0 flex items-center">
					<img
						class="block lg:hidden h-8 w-auto"
						src="https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg"
						alt="Workflow"
					/>
					<img
						class="hidden lg:block h-8 w-auto"
						src="https://tailwindui.com/img/logos/workflow-logo-indigo-500-mark-white-text.svg"
						alt="Workflow"
					/>
				</div>
				<div class="hidden sm:block sm:ml-6">
					<div class="flex space-x-4">
						<!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
						{#each navigation as { href, name, current } (name)}
							<a
								{href}
								class="{current
									? 'bg-gray-900 text-white'
									: 'text-gray-300 hover:bg-gray-700 hover:text-white'} px-3 py-2 rounded-md text-sm font-medium"
								aria-current={current ? 'page' : undefined}>{name}</a
							>
						{/each}
					</div>
				</div>
			</div>
			<div
				class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
			>
				<button
					type="button"
					class="bg-gray-800 p-1 rounded-full text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"
				>
					<span class="sr-only">View notifications</span>
					<Icon src={BellIcon} class="block h-6 w-6" />
				</button>

				<!-- Profile dropdown -->
				<Menu class="ml-3 relative">
					<div>
						<MenuButton
							type="button"
							class="bg-gray-800 flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"
							id="user-menu-button"
							aria-expanded="false"
							aria-haspopup="true"
						>
							<span class="sr-only">Open user menu</span>
							<img
								class="h-8 w-8 rounded-full"
								src="https://codeberg.org/avatars/751b551c94d82b504bd8d9fada1ed52c?size=96"
								alt=""
							/>
						</MenuButton>
					</div>

					<!-- Dropdown menu, show/hide based on menu state. -->
					<Transition
						enter="transition ease-out duration-100"
						enterFrom="transform opacity-0 scale-95"
						enterTo="transform opacity-100 scale-100"
						leave="transition ease-in duration-75"
						leaveFrom="transform opacity-100 scale-100"
						leaveTo="transform opacity-0 scale-95"
					>
						<MenuItems
							class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
							role="menu"
							aria-orientation="vertical"
							aria-labelledby="user-menu-button"
							tabindex="-1"
						>
							<!-- Active: "bg-gray-100", Not Active: "" -->
							<MenuItem let:active>
								<a
									href="#"
									class="{active ? 'bg-gray-100' : undefined} block px-4 py-2 text-sm text-gray-700"
									role="menuitem"
									tabindex="-1"
									id="user-menu-item-0">Your Profile</a
								>
							</MenuItem>
							<MenuItem let:active>
								<a
									href="#"
									class="{active ? 'bg-gray-100' : undefined} block px-4 py-2 text-sm text-gray-700"
									role="menuitem"
									tabindex="-1"
									id="user-menu-item-1">Settings</a
								>
							</MenuItem>
							<MenuItem let:active>
								<a
									href="#"
									class="{active ? 'bg-gray-100' : undefined} block px-4 py-2 text-sm text-gray-700"
									role="menuitem"
									tabindex="-1"
									id="user-menu-item-2">Sign out</a
								>
							</MenuItem>
						</MenuItems>
					</Transition>
				</Menu>
			</div>
		</div>
	</div>

	<!-- Mobile menu, show/hide based on menu state. -->
	<DisclosurePanel class="sm:hidden" id="mobile-menu">
		<div class="px-2 pt-2 pb-3 space-y-1">
			<!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
			{#each navigation as { href, name, current } (name)}
				<DisclosureButton
					key={name}
					as="a"
					{href}
					class="{current
						? 'bg-gray-900 text-white'
						: 'text-gray-300 hover:bg-gray-700 hover:text-white'} block px-3 py-2 rounded-md text-base font-medium"
					aria-current={current ? 'page' : undefined}>{name}</DisclosureButton
				>
			{/each}
		</div>
	</DisclosurePanel>
</Disclosure>
