<script lang="ts">
	import {
		Dialog,
		DialogOverlay,
		DialogTitle,
		Transition,
		TransitionChild
	} from '@rgossiaux/svelte-headlessui';
	import { Icon, X as XIcon } from 'svelte-hero-icons';

	export let active = true;
	const closeDialog = () => (active = !active);
</script>

<Transition show={active}>
	<Dialog
		open={active}
		class="fixed inset-0 overflow-hidden"
		aria-labelledby="slide-over-title"
		role="dialog"
		aria-modal="true"
	>
		<div class="absolute inset-0 overflow-hidden">
			<!-- Background overlay, show/hide based on slide-over state. -->
			<TransitionChild
				enter="ease-in-out duration-500"
				enterFrom="opacity-0"
				enterTo="opacity-100"
				leave="ease-in-out duration-500"
				leaveFrom="opacity-100"
				leaveTo="opacity-0"
			>
				<DialogOverlay
					class="absolute inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
					aria-hidden="true"
				/>
			</TransitionChild>
			<div class="fixed inset-y-0 right-0 pl-10 max-w-full flex">
				<!-- Slide-over panel, show/hide based on slide-over state. -->
				<TransitionChild
					enter="transform transition ease-in-out duration-500 sm:duration-700"
					enterFrom="translate-x-full"
					enterTo="translate-x-0"
					leave="transform transition ease-in-out duration-500 sm:duration-700"
					leaveFrom="translate-x-0"
					leaveTo="translate-x-full"
				>
					<div class="relative w-screen max-w-md h-full">
						<!-- Close button, show/hide based on slide-over state. -->
						<TransitionChild
							enter="ease-in-out duration-500"
							enterFrom="opacity-0"
							enterTo="opacity-100"
							leave="ease-in-out duration-500"
							leaveFrom="opacity-100"
							leaveTo="opacity-0"
						>
							<div class="absolute top-0 left-0 -ml-8 pt-4 pr-2 flex sm:-ml-10 sm:pr-4">
								<button
									on:click={closeDialog}
									type="button"
									class="rounded-md text-gray-300 hover:text-white focus:outline-none focus:ring-2 focus:ring-white"
								>
									<span class="sr-only">Close panel</span>
									<Icon src={XIcon} class="h-6 w-6" />
								</button>
							</div>
						</TransitionChild>

						<div class="h-full flex flex-col py-6 bg-white shadow-xl overflow-y-scroll">
							<div class="px-4 sm:px-6">
								<DialogTitle
									as="h2"
									class="text-lg font-medium text-gray-900"
									id="slide-over-title"
								>
									Panel title
								</DialogTitle>
							</div>
							<div class="mt-6 relative flex-1 px-4 sm:px-6">
								<!-- Replace with your content -->
								<div class="absolute inset-0 px-4 sm:px-6">
									<div class="h-full border-2 border-dashed border-gray-200" aria-hidden="true" />
								</div>
								<!-- /End replace -->
							</div>
						</div>
					</div>
				</TransitionChild>
			</div>
		</div>
	</Dialog>
</Transition>
