/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@layer base {
	h1 {
		@apply text-2xl;
	}
	h2 {
		@apply text-xl;
	}
	h3 {
		@apply text-lg;
	}
	a:not(nav a):not(h2 a) {
		@apply text-blue-600 underline;
	}
	body {
		@apply bg-gray-100;
	}
}
@tailwind components;
@tailwind utilities;
