<script lang="ts">
	import {
		RadioGroup,
		RadioGroupLabel,
		RadioGroupOption,
		RadioGroupDescription
	} from '@rgossiaux/svelte-headlessui';
	import { classes } from '$lib/utils';

	const settings = [
		{
			name: 'Allow',
			description:
				'See personalized advertisement and allow measurement of advertising effectiveness.'
		},
		{
			name: 'Block',
			description: 'Block personalized advertising and measurement of advertising effectiveness.'
		}
	];
	let selected = settings[0];
	const handleSelectChange = (event) => {
		selected = event.detail;
	};
</script>

<RadioGroup value={selected} on:change={handleSelectChange}>
	<RadioGroupLabel class="text-sm font-medium text-gray-900"
		>Choose your cookie preference</RadioGroupLabel
	>

	<div class="mt-1 bg-white rounded-md shadow-sm -space-y-px max-w-2xl">
		{#each settings as setting, index (setting.name)}
			<RadioGroupOption
				let:checked
				let:active
				key={setting.name}
				value={setting}
				class={({ checked }) => {
					return classes(
						index === 0 ? 'rounded-tl-md rounded-tr-md' : '',
						index === settings.length - 1 ? 'rounded-bl-md rounded-br-md' : '',
						checked ? 'bg-sky-50 border-sky-200' : 'border-gray-200',
						'relative border p-4 flex cursor-pointer focus:outline-none'
					);
				}}
			>
				<span
					class={classes(
						checked ? 'bg-sky-600 border-transparent' : 'bg-white border-gray-300',
						active ? 'ring-2 ring-offset-2 ring-sky-500' : '',
						'h-4 w-4 mt-0.5 cursor-pointer rounded-full border flex items-center justify-center'
					)}
					aria-hidden="true"
				>
					<span class="rounded-full bg-white w-1.5 h-1.5" />
				</span>
				<div class="ml-3 flex flex-col">
					<RadioGroupLabel
						as="span"
						class={classes(checked ? 'text-sky-900' : 'text-gray-900', 'block text-sm font-medium')}
					>
						{setting.name}
					</RadioGroupLabel>
					<RadioGroupDescription
						as="span"
						class={classes(checked ? 'text-sky-700' : 'text-gray-500', 'block text-sm')}
					>
						{setting.description}
					</RadioGroupDescription>
				</div>
			</RadioGroupOption>
		{/each}
	</div>
</RadioGroup>
